:root{
    --grayPrimary: #F9F9F9;
    --graySecondary: #EFEFEF;
    --blackColor: #343434;
    --redBtn:#FD5757;
    --greenBtn:#60E394;
    --yellowStatus:#F6CD43;
    --blueStatus:#53B3E5;
    --borderColorCard:#CCCCCC;
    --borderColor:#7F7F7F;
    --fontwhite:#ffffff;
    --fontgray:#606060;
    --tableBlack:#202020;
}
 /* ----- Appoint Section -----  */
.userLeftSide{
    background-color: var(--graySecondary);
    display: flex;
    justify-content: center;
}
.userRightSide{
    background-color: var(--grayPrimary);
    padding: 5rem !important;
}
.userRightSide label, .userRightSide p{
    font-weight: 600;
}
.userRightSide h3{
    color: var(--redBtn);
    font-size: 2.2rem;
}
.userRightSide p{
    font-size: 1rem;
}

.userRightSide .userform-control{
    width: 100% !important;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 6px;
    outline: 2px solid var(--borderColorCard);
    border:none;
    color: var(--blackColor);
    margin-bottom: 20px;
    margin-top: 5px;
    appearance: none;
}
.userRightSide textarea{
    resize: none;
}
.userRightSide .row div:last-child{
    display: flex;
    flex-direction: column;
}
.userRightSide .row div:first-child{
    margin-bottom: 2rem;
}
.userRightSide .row div:last-child input{
    margin-right: 5px;
}
.userRightSide .row div:last-child button{
    margin-top: 10px;
    border:none;
    padding: 10px 0px;
    font-weight: 500;
    color:var(--fontwhite);
    background-color: var(--redBtn);
    border-radius: 6px;
}
/* ----- Result Section -----  */
.result-body{
    background-color: var(--fontwhite);
    min-width: 300px;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    padding: 15px;
}
.result-header{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.result-header h3{
    font-size: 1.6rem;
    margin: 0;
    font-weight: 600;
    color: var(--redBtn);
}
.result-header p{
    font-weight: 500;
    font-size: 0.9rem;
}
.result-header img{
    width: 45px;
}
.result-header span{
    font-weight: 600;
}
.result-info{
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.result-info div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.result-info div span{
    font-weight: 500;
    margin-bottom: 5px;
}
.result-report{
   text-align: center;
   margin: 4rem 0;
}
.result-report h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.result-report span{
    padding: 5px 35px;
    background-color: #C5F5D8;
    color: var(--greenBtn);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 20px;
}
.result-report button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 0.9rem;
    color: var(--fontgray);
    margin-top: 10px;
}

/* Extra Small devices (landscape phones, 576px and up) */
@media (max-width: 376px) {
    /* Result Section  */
    .result-header{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .result-info{
        flex-direction: column;
    }
    /* Appointment Section  */
    .userLeftSide{
        display: none;
    }
    .userRightSide{
        background-color: var(--grayPrimary);
        padding: 1rem !important;
    }
    .userRightSide-content{
        border: 2px solid var(--borderColor);
        padding: 1.2rem !important;
        border-radius: 5px;
    }
    .userRightSide h3{
        color: var(--redBtn);
        font-size: 1.8rem;
    }
    .userRightSide p{
        font-size: 0.9rem;
    }
    .userRightSide .row div:first-child{
        margin-bottom: 1rem;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 376px) {
    /* Appointment Section  */
    .userLeftSide{
        display: none;
    }
    /* Appointment Section  */
    .userLeftSide{
        display: none;
    }
    .userRightSide{
        background-color: var(--grayPrimary);
        padding: 3rem !important;
    }
    .userRightSide-content{
        border: 2px solid var(--borderColor);
        padding: 2rem !important;
        border-radius: 5px;
    }
    .userRightSide h3{
        color: var(--redBtn);
        font-size: 1.8rem;
    }
    .userRightSide p{
        font-size: 0.9rem;
    }
    .userRightSide .row div:first-child{
        margin-bottom: 1rem;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Appointment Section  */
    .userLeftSide{
        display: none;
    }
    /* Appointment Section  */
    .userLeftSide{
        display: none;
    }
    .userRightSide{
        background-color: var(--grayPrimary);
        padding: 3rem 6rem !important;
    }
    .userRightSide-content{
        border: 2px solid var(--borderColor);
        padding: 2rem !important;
        border-radius: 5px;
    }
    .userRightSide h3{
        color: var(--redBtn);
        font-size: 2.2rem;
    }
    .userRightSide p{
        font-size: 1rem;
    }
    .userRightSide .row div:first-child{
        margin-bottom: 1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Appointment Section  */
    .userLeftSide{
        display: none;
    }
    .userRightSide{
        background-color: var(--grayPrimary);
        padding: 3rem 10rem !important;
    }
    .userRightSide-content{
        border: 2px solid var(--borderColor);
        padding: 2rem !important;
        border-radius: 5px;
    }
    .userRightSide h3{
        color: var(--redBtn);
        font-size: 2.2rem;
    }
    .userRightSide p{
        font-size: 1rem;
    }
    .userRightSide .row div:first-child{
        margin-bottom: 1rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Appointment Section  */
    .userLeftSide{
        display: flex;
    }
    .userRightSide{
        background-color: var(--grayPrimary);
        padding: 3rem !important;
    }
    .userRightSide-content{
        border: none;
        padding: 2rem !important;
        border-radius: 5px;
    }
    .userRightSide h3{
        color: var(--redBtn);
        font-size: 2.2rem;
    }
    .userRightSide p{
        font-size: 1rem;
    }
    .userRightSide .row div:first-child{
        margin-bottom: 1rem;
    }
}